@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css" />


<div class="bg-image">
    <div class="container">
        <div class="row">
            
            <div class="vertical-slider">
                <ul class="slides">
                    <li><p class="vertical-caption">MICROSOFT.NET FRAMEWORK</p></li>
                    
                </ul>
            </div>
        </div>
        <div>
        </div>
